.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 846px;
}

.u-section-1 .u-text-1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4.5rem;
    margin: 95px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 504px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25rem;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin: 20px 294px 0 0;
}

.u-section-1 .u-text-4 {
    margin: 4px 0 0;
}

.u-section-1 .u-icon-1 {
    height: 48px;
    width: 48px;
    margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
    margin: 6px auto 0 0;
}

.u-section-1 .u-icon-2 {
    height: 48px;
    width: 48px;
    margin: 30px auto 0 0;
}

.u-section-1 .u-text-6 {
    margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px auto 0 -31px;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px auto 0 -31px;
}

.u-section-1 .u-image-1 {
    width: 64px;
    height: 64px;
    margin: 45px auto 0 0;
}

.u-section-1 .u-image-2 {
    width: 64px;
    height: 64px;
    margin: -64px auto 0 76px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 504px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-map-1 {
    height: 440px;
    margin-top: 0;
    margin-bottom: 0;
    animation-duration: 2000ms;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 617px;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 416px;
    }
    .u-section-1 .u-text-3 {
        margin-right: 227px;
    }
    .u-section-1 .u-btn-1 {
        margin-left: 0;
    }
    .u-section-1 .u-btn-2 {
        margin-right: 0;
    }
    .u-section-1 .u-layout-cell-2 {
        min-height: 416px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 534px;
    }
    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
        width: auto;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-text-2 {
        font-size: 1.5rem;
    }
    .u-section-1 .u-text-3 {
        margin-right: 154px;
    }
    .u-section-1 .u-layout-cell-2 {
        min-height: 319px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1156px;
    }
    .u-section-1 .u-text-1 {
        font-size: 3rem;
        margin-top: 88px;
    }
    .u-section-1 .u-layout-wrap-1 {
        margin-top: 59px;
    }
    .u-section-1 .u-layout-cell-2 {
        min-height: 359px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1130px;
    }
    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
        margin-top: 54px;
    }
    .u-section-1 .u-layout-wrap-1 {
        margin-top: 63px;
    }
    .u-section-1 .u-text-3 {
        margin-right: 0;
    }
    .u-section-1 .u-layout-cell-2 {
        min-height: 226px;
    }
}